/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
	font-family: var(--font-open-sans);
}

:root {
	--gray: #0d1f2d;
	--light-gray: #253542;
	--yellow: #ffc53a;
	--light-yellow: #ffe29d;
	--red: #f25445;
	--cyan: #79aea3;
	--light-cyan: #C9DFDA;
	--accent-cyan: #A1C6BF;

	--font-holtwood: "Holtwood One SC", sans-serif;
	--font-nunito-sans: "Nunito Sans 10pt", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
}
