@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header-action-block {
		@apply flex min-w-[150px] items-center justify-center gap-[16px] rounded-[10px] bg-gray-light px-[16px] py-[4px] font-primary text-[18px] text-yellow;
	}

	.button {
		@apply flex w-[170px] items-center justify-center gap-[5px] rounded-[10px] border border-solid py-[5px] font-primary;
	}

	.button--red {
		--color: theme("colors.red");
	}

	.button--yellow {
		--color: theme("colors.yellow.DEFAULT");
	}

	.button--cyan {
		--color: theme("colors.cyan.DEFAULT");
	}

	.button--solid {
		@apply border-transparent bg-[--color];
	}

	.button--solid:hover {
		@apply border-[--color] bg-transparent text-[--color];
	}

	.button--outline {
		@apply border-[--color] bg-transparent text-[--color];
	}

	.button--outline:hover {
		@apply border-transparent bg-[--color];
	}
}
