@import "tailwindcss";

@theme {
	--color-gray-900: #0d1f2d;
	--color-gray-800: #1B2C39;
	--color-gray-700: #293946;
	--color-gray-600: #54616B;
	--color-gray-500: #8D969C;
	--color-gray-400: #E3E5E6;

	--color-yellow-900: #F8A917;
	--color-yellow-800: #FABD4E;
	--color-yellow-700: #FCDC9F;

	--color-cyan-900: #75A69C;
	--color-cyan-800: #AECBC5;
	--color-cyan-700: #C6DAD6;
	--color-cyan-600: #D6E5E2;
	--color-cyan-500: #E7EFEE;

	--font-carter-one: "Carter One", sans-serif;
	--font-nunito: "Nunito", sans-serif;
}

body {
	font-weight: 600;
}

input {
	@apply outline-none;
}

@media (max-width: 700px) {
	input {
		font-size: 1rem;
	}
}
